body{
    padding: 0 100px;
    font-family: Arial;
}

#searchbar{
    width: 100%;
    height: 50px;
}

.navbar__bjelle,
.navbar__kryss,
.navbar__melding,
.navbar__profil{
    display: flex;
    flex-direction: row;
    align-content: end;
}